In [2]:
!pip install pandas
!pip install sklearn
!pip install scipy
!pip install numpy
!pip install pandas
!pip install joblib
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: pandas in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sklearn in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from sklearn) (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.24.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (3.3.0)
Requirement already satisfied: scipy in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from scipy) (1.24.4)
Requirement already satisfied: numpy in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (1.24.4)
Requirement already satisfied: pandas in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: joblib in c:\users\eskim\appdata\local\programs\python\python310\lib\site-packages (1.3.2)

In [ ]:
#loading the data
#do not run
import pandas as pd
from sklearn.model_selection import train_test_split

# Load your data
data = pd.read_csv('your_data.csv')

# Define features and target
X = data[['Income', 'Monthly Expenses', 'Dependents', 'Job Stability', 'Lifestyle Cost']]
y = data['Recommended Emergency Fund']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
import pandas as pd
df = pd.read_csv('synthetic_efdata.csv')
df.head()

,Income ($),Monthly Expenses ($),Dependents,Job Stability (1-10),Lifestyle Cost (1-10),Recommended Emergency Fund ($)
0,17795,11330.999468,3,7,9,52122.60
1,2860,1535.018131,1,4,10,6754.08
2,7390,3973.328057,2,9,6,17879.98
3,13964,8721.430181,2,1,10,35757.86
4,13284,11846.727145,4,8,3,48571.58

In [5]:
#data cleaning
#missing values 
df.fillna(df.mean(), inplace =True)

#duplicates
df.drop_duplicates(inplace = True)

#check
print("Duplicate Rows:", df.duplicated().sum())
print("Missing Values:", df.isnull().sum())

Duplicate Rows: 0
Missing Values: Income ($)                        0
Monthly Expenses ($)              0
Dependents                        0
Job Stability (1-10)              0
Lifestyle Cost (1-10)             0
Recommended Emergency Fund ($)    0
dtype: int64

In [8]:
#data type conversion
df['Income ($)'] = df['Income ($)'].astype(int)
df['Monthly Expenses ($)'] = df['Monthly Expenses ($)'].astype(int)
df['Dependents'] = df['Dependents'].astype(int)
df['Job Stability (1-10)'] = df['Job Stability (1-10)'].astype(int)
df['Lifestyle Cost (1-10)'] = df['Lifestyle Cost (1-10)'].astype(int)
df['Recommended Emergency Fund ($)'] = df['Recommended Emergency Fund ($)'].astype(int)

#outly
import numpy as np
from scipy import stats

z_scores = np.abs(stats.zscore(df.select_dtypes(include=np.number))) #only select nums
df = df[(z_scores < 3).all(axis=1)] #threshold 3sd away

In [10]:
df

,Income ($),Monthly Expenses ($),Dependents,Job Stability (1-10),Lifestyle Cost (1-10),Recommended Emergency Fund ($)
0,17795,11330,3,7,9,52122
1,2860,1535,1,4,10,6754
2,7390,3973,2,9,6,17879
3,13964,8721,2,1,10,35757
4,13284,11846,4,8,3,48571
...,...,...,...,...,...,...
95,16948,12174,3,5,10,54786
96,10110,7909,2,7,3,31637
97,15773,13997,3,1,5,50392
98,19412,15048,3,3,6,58688
99,2502,2088,4,2,9,8563

In [12]:
#standardizing
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Income ($)', 'Monthly Expenses ($)', 'Dependents', 'Job Stability (1-10)', 'Lifestyle Cost (1-10)']] = scaler.fit_transform(df[['Income ($)', 'Monthly Expenses ($)', 'Dependents', 'Job Stability (1-10)', 'Lifestyle Cost (1-10)']])

In [13]:
#save
df.to_csv('cleaned_efData.csv', index=False)